version: 2.1
workflows:
  testing:
    jobs:
      - printer-config
jobs:
  printer-config:
    machine: true
    resource_class: gokul-ceo/restyprintserver-rpi-v0
    steps:
      - run: git clone https://github.com/gokul-ceo/restyprintserver.git
      - run: cd restyprintserver
      - run:
          name: Copy project to home
          command: |
            sudo cp -r . /home/restyagent/
      - run:
          name: Change ownership and permissions
          command: |
            sudo chown -R restyagent:restyagent /home/restyagent/restyprintserver
            sudo chmod -R 755 /home/restyagent/restyprintserver

      - run:
          name: Change to project directory
          command: |
            cd /home/restyagent/restyprintserver
      - run:
          name: Install package
          command: |
            npm install
      - run:
          name: Install package
          command: |
            cd ../../
      - run:
          name: Install package
          command: |
            cd 
      - run:
          name: Stop the service
          command: |
            sudo systemctl stop restyprint.service
      - run:
          name: Restart the service
          command: |
            sudo systemctl daemon-reload
      - run:
          name: Start the service
          command: |
            sudo systemctl start restyprint.service